@model ApplicationResult<List<SubmissionHomeModel>>
@{
    ViewData["Title"] = "Home Page";
}

@if(Model != null)
{
    <table>
    <tbody>
        <tr>
            <th>Submission Id</th>
            <th>Problemset</th>
            <th>Accepted</th>
            <th>Total</th>
            <th> </th>
        </tr>
        @foreach (var submission in Model?.Data)
        {
            <tr>
                <td>@submission.SubmissionId</td>
                <td>@submission.ProblemCode</td>
                <td>@submission.AcceptedTestCase</td>
                <td>@submission.TotalTestCase</td>
                <td>@submission.FirtFailTestCase</td>
            </tr>
        }

    </tbody>
</table>

}