@model ApplicationResult<List<SubmissionHomeModel>>
@{
    ViewData["Title"] = "Home Page";
}
@*<h3 style="text-align:center">Vô chỗ <a href="/Manage/SpojAccountCenter">này</a> set up acc SPOJ mới lấy submission được nha</h3>
    <h5 style="text-align:center;color:red">Dùng search box để tìm cho nhanh</h5>
    <h5 style="text-align:center;color:red">Hiện chỉ hiển thị 10 bài chưa 100 ở list bên dưới, bài mới submit sẽ không cập nhật ngay trừ khi bạn search, không thì 10 phút bài mới được down</h5>*@
<br />


<div class="section">
    <form asp-controller="Submission" asp-action="Search" method="POST">
        <div class="form-group">
            <label>Cannot find your submission? Search here!</label>
            <input class="form-control" type="number" name="submissionId" placeholder="Submission Id" />
        </div>
        @*<p style="color:green">Dùng box này để search submission của mình, nếu submission chưa được download thì hệ thống sẽ tiến hành download trong 10s, nếu sau 10s mà không có chứng tỏ bạn không thể xem được hoặc đó là bug</p>*@
        <div class="form-group">
            <input class="btn btn-dark" type="submit" value="Search" />
        </div>
    </form>
</div>
<div class="section">

    <div class="table-wrapper">
        <table class="table sortable table-responsive table-spoj-debug center table-hover table-multiple-head-rows table-compact">
            <thead>
                <tr>
                    <th class="nowrap">SUBMISSION ID</th>
                    <th class="nowrap">PROBLEMSET</th>
                    <th class="nowrap">ACCEPTED</th>
                    <th class="nowrap">TOTAL</th>
                    <th class="nowrap">FIRST TEST FAIL</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var count = 1;
                    foreach (var row in Model?.Data)
                    {
                        var cssClass = count % 2 == 1 ? "odd" : "even";
                        <tr class="@cssClass">
                            <td>@row.SubmissionId</td>
                            <td>@row.ProblemCode     </td>
                            <td>@row.AcceptedTestCase</td>
                            <td>@row.TotalTestCase</td>
                            @if (row.FirtFailTestCase == -1)
                            {
                                <td>@row.FirtFailTestCase</td>
                            }
                            else
                            {
                                <td style="font-weight:bold"><a asp-controller="TestCase" asp-action="WhereFailerTakePlace" asp-route-id="@row.SubmissionId">@row.FirtFailTestCase</a></td>
                            }
                        </tr>
                        count++;
                    }
                }

            </tbody>
        </table>
    </div>
</div>


@section Scripts {

    <!--===============================================================================================-->
    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/bootstrap/js/popper.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script>
        $('.js-pscroll').each(function () {
            var ps = new PerfectScrollbar(this);

            $(window).on('resize', function () {
                ps.update();
            })

            $(this).on('ps-x-reach-start', function () {
                $(this).parent().find('.table100-firstcol').removeClass('shadow-table100-firstcol');
            });

            $(this).on('ps-scroll-x', function () {
                $(this).parent().find('.table100-firstcol').addClass('shadow-table100-firstcol');
            });

        });




    </script>
    <!--===============================================================================================-->
    <script src="~/js/main.js"></script>


}
