@model SpojDebug.Core.Models.Account.SpojAccountModel

    <form asp-action="SpojAccountCenter" method="POST">
        <div class="form-group">
            <label asp-for="@Model.Username">Spoj Username</label>
            <input class="form-control" type="text" asp-for="@Model.Username" placeholder="Spoj Username" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.Password">Spoj Password</label>
            <input class="form-control" type="password" asp-for="@Model.Password" placeholder="Password" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.ConfirmPassword">Confirm Your Password</label>
            <input class="form-control" type="password" asp-for="@Model.ConfirmPassword" placeholder="Confirm Password" />
        </div>
        <div class="form-group">
            <input class="btn btn-dark" type="submit" value="Update" />
        </div>
    </form>