@model ApplicationResult<TestCaseResponseModel>
<br>
<br>
<div style="text-align:center; font-size: 22px; font-family: Arial">
    @Model.Data.ProblemCode <br>
    @Model.Data.ResultName<br>
    Test No.@Model.Data.TestCaseSeq<br>
    @Model.Data.SubmissionId<br>
</div>
<hr />
INPUT<br>
<pre>@Model.Data.Input</pre><br>
<hr>
OUTPUT<br>
<pre>@Model.Data.Output</pre><br>